.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-radius: inherit;
}